.add-property-container form {
  display: flex;
  flex-direction: column;
  background-color: rgba(70, 70, 70, 0.466);
  width: fit-content;
  margin: 0 auto;
}

.add-property-container input {
  margin-bottom: 10px;
  width: 300px;
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-control input {
  width: fit-content;
  margin: 0;
  margin-left: 0.5rem;
}

.img-urls {
  display: flex;
  flex-direction: column;
}

.img-urls img {
  width: 100px;
}
