.searchpage_container {
	height: 100vh;
	width: 100vw;
}

.search-controller {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 4rem;
}

.search-controller > label {
	margin-right: 1rem;
	align-self: baseline;
	font-size: 1.5rem;
}

.search-controller input[type='search'] {
	height: 2rem;
	width: 50%;
}

.amenity-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.amenity-controls p:last-of-type {
	display: inline-block;
	padding-left: 1rem;
	margin: 0;
	position: absolute;
	width: 8rem;
}

.amenity-controller {
	position: relative;
	text-align: center;
	margin: 1rem auto;
}
