.message-container {
  background-color: white;

  height: 70%;
  width: 95%;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  overflow: hidden;
  padding-top: 1rem;
  overflow-y: scroll;
}

.message-container > ul {
  list-style: none;
}

.message-bubble {
  position: relative;
  border-radius: 0.4em;
  font-size: 0.8rem;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
}

.message-bubble p:last-of-type {
  font-size: 0.6rem;
}

.server-color {
  background-color: #d1d1d1;
  left: 1.5rem;
}

.user-color {
  background: #9acd32;
  right: -2rem;
}

.user-color.message-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #9acd32;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.server-color.message-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #d1d1d1;
  border-right: 0;
  border-bottom: 0;
  margin-top: -14px;
  margin-right: -15px;
}
