.window {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 500;
  color: #3e5869;
}

.message {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  margin: 10px;
  background-color: rgba(226, 226, 226, 0.781);
  border: 1px solid black;
  padding: 5px;
  max-width: 300px;
}

.msg-time {
  justify-self: end;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.message div:nth-child(1) {
  font-size: 12px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message div:nth-child(2) {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  border-radius: 8px;
}
.message div:nth-child(3) {
  font-size: 10px;
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 60px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}
